AZURE_AI_PROJECT_ENDPOINT=https://<instance-name>.services.ai.azure.com/api/projects/<project-name>
AZURE_AI_MODEL_DEPLOYMENT_NAME="gpt-4.1-mini"
GITHUB_REPOSITORY="user/repo"
GITHUB_MCP_PAT=""
VECTOR_STORE_ID=""
APPLICATIONINSIGHTS_CONNECTION_STRING=""